@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-size: 12px;
    font-family: "Open Sans";
}

/*nav {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    background-color: #F5A9A9;
}*/

li {
    height: 100px;
    font-size: 18px;
    text-align: center;
    color: darkblue;
    background-color: lightgrey;
    margin: 100px;
}

.menuicons {
    background: transparent;
    margin-right: 6px;
}
